= simple_form_for [:admin, @news] do |f|
  = f.input :state_event, as: :state_event
  = f.input :title
  = f.input :preview_image
  = f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }

  =f.submit