%h1 Вызов замерщика
%p Вызов менеджера-консультанта – это удобный способ получить подробнейшую консультацию у себя дома.
%p Замерщик приедет в удобное для Вас время. Вы можете, к примеру, договориться на вечернее время, когда вся семья дома и обсудить все вопросы вместе.	Что особенно удобно в приезде замерщика на дом, так это то, что Вы можете обсуждать непосредственно с ним самые разнообразные варианты решения Вашего остекления.
%p А он, увидев объект, учтёт все особенности Вашего дома, условий отопления и вентиляции и предложит несколько удобных для Вас вариантов решения. Менеджер-консультант осуществляет бесплатную консультацию по всем вопросам остекления, а также профессионально замеряет оконные и дверные проемы с учетом конструкции и особенностей Вашего дома. Экономьте время и деньги!
%p Укажите, пожалуйста, свое имя и контактный телефон и мы свяжемся с вами завтра в 10 часов утра

= simple_form_for @type, url: measure_path do |f|
  = f.input :full_name, input_html: { class: 'span7' }
  = f.input :contacts, input_html: { class: 'span7' }
  = f.input :content, input_html: { class: 'span7' }

  = f.submit 'Отправить', class: 'btn btn-large'