= simple_form_for [:admin, @item] do |f|
  = f.input :title
  = f.input :slug

  %h4 Элементы меню
  #items
    = f.simple_fields_for :items do |item|
      = render 'item_fields', f: item

  = link_to_add_association 'Добавить элемент меню', f, :items, class: 'btn btn-info',
     data: { association_insertion_node: '#items', association_insertion_method: 'append' }


  = f.submit class: 'btn btn-primary'