.container.custom-top-menu-container
  .navbar.custom-top-menu
    .navbar-inner
      .container
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to '', root_path, class: 'brand'
        %ul.nav.nav-collapse
          %li= link_to "Окна и двери", page_path(:about)
          %li= link_to "Услуги и сервис", page_path(:contacts)
          %li= link_to "Наши преимущества", new_question_path
          %li= link_to "Компания", new_question_path
          %li= link_to "Где купить", new_question_path
          %li= link_to "Контакты", new_question_path