.content
  %h3 Прайс-лист

  .items
    - products_items.each do |p|
      .item.well.well-small
        .row
          .span2.image
            - if p.preview_image.url
              = image_tag p.preview_image.url
          .span6.item-content
            %h5 #{p.title}, #{p.size}, #{p.options}

            %table.table.table-striped
              %thead
                %tr
                  %th Профиль
                  %th Панельный дом
                  %th Кирпичный дом

              %tbody
                - p.profiles.asc_by_created_at.each do |profile|
                  %tr
                    %td= profile.title
                    %td= profile.panel_house_cost
                    %td= profile.brick_house_cost