.container.production
  .row
    .span3.span26.product.square
      = image_tag asset_path('products/11.png')
      = link_to 'Технологическое оборудование', '#', class: 'category'
      %ul.subcategories
        %li= link_to 'Octava', '#'
        %li
          |
        %li= link_to 'Gamma-2', '#'
        %li
          |
        %li= link_to 'Symphony', '#'
    .span2.span25.product
      = image_tag asset_path('products/22.png')
      = link_to 'Стеллажное оборудование', '#', class: 'category'
      %ul.subcategories
        %li= link_to 'Русь', '#'
        %li
          |
        %li= link_to 'Витрина', '#'
        %li
          |
        %li= link_to 'Белорусь', '#'
    .span2.span25.product.square
      = image_tag asset_path('products/33.png')
      = link_to 'Торговая мебель', '#', class: 'category'
      %ul.subcategories
        %li= link_to 'Октава', '#'
        %li
          |
        %li= link_to 'Wiko', '#'
        %li
          |
        %li= link_to 'Селена', '#'
    .span3.span25.product.square
      = image_tag asset_path('products/44.png')
      = link_to 'POSM и рекламные материалы', '#'
    .span2.product
      = image_tag asset_path('products/55.png')
      = link_to 'Корзинки и тележки', '#'
