.container.production
  .row
    .span3.product
      = image_tag asset_path('products/1.png')
      = link_to 'Технологическое оборудование', '#'
    .span3.product
      = image_tag asset_path('products/2.png')
      = link_to 'Стеллажное оборудование', '#'
    .span2.product
      = image_tag asset_path('products/3.png')
      = link_to 'Прилавки', '#'
    .span2.product
      = image_tag asset_path('products/4.png')
      = link_to 'Посматериалы', '#'
    .span2.product
      = image_tag asset_path('products/5.png')
      = link_to 'Тележки и корзинки', '#'
